{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    <section class="container">
        <div class="row">
            <div class="col">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}

                <div class="form-group">
                    {{ form_row(registrationForm.email, {
                        'attr': {'class': 'form-control'}
                    }) }}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword, {
                        'label': 'Mot de passe',
                        'attr': {'class': 'form-control'}
                    }) }}
                </div>

                <div class="form-check">
                    {{ form_row(registrationForm.agreeTerms, {
                        'label': 'Accepter les conditions',
                        'attr': {'class': 'form-check-input'}
                    }) }}

                </div>

                <button type="submit" class="btn btn-primary">S'inscrire</button>

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock %}
